<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">
			<div class="ph2-l">
				<h2 class="f2 b lh-title mb2">{{.heading}}</h2>

				<p>{{.text}}</p>

				<p>{{.advantagesHeading}}</p>

				<ul class="advantages-list pb4">
					{{ range .advantages }}
						<li class="mv2">{{ . }}</li>
					{{ end }}
				</ul>
			</div>
		</div>

		<div class="ph2-l">
			<img src="img/clyde-rs-4xbzcfu2uoo-unsplash.jpg" alt="" class="mb3">
		</div>

		<!-- <div class="tc">
			<a href="/stories" class="btn raise">Read our success stories</a>
		</div> -->

	</div>
</div>
