{{ define "main" }}

{{/* {{ partial "banner" (dict "displayBanner" true "stickyBanner" false "bannerText" "Under Construction") }} */}}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}

{{/* <div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div> */}}

<div class="bg-off-white pb4">
	<div class="ph3 mw7 center">
    <a href="/pdf/Mathias-Environmental-White-Paper.pdf" target="_blank">
      <button class="button f5 link dim br3 ph3 pv2 mb2 dib">View Mathias Environmental White Paper</button>
    </a>
  </div>
</div>

<div class="pv3 mb6">
  {{/* <embed src="/pdf/Mathias-Environmental-White-Paper.pdf" width="1000px" height="2100px" /> */}}

</div>

<!-- Full-width image -->
<!-- <img src="{{ .Params.full_image }}" alt="" class="db w-100"> -->

{{ end }}
