{{ define "main" }}

{{/* Hero Jumbotron */}}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
{{/*  */}}

{{/* The Need media-block-reverse */}}
{{ partial "media-block-reverse" .Params.need }}
{{/*  */}}

{{/* The Solution short-text */}}
{{ partial "short-text" .Params.solution }}
{{/*  */}}

{{/* Products 2-up */}}
{{ partial "2-up" .Params }}
{{/*  */}}

{{/* Stories CTA text-and-image */}}
{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}
{{/*  */}}

{{/* Testimonials carousel */}}
{{ partial "blog" . }}
{{/*  */}}

{{ end }}
