{{ define "main" }}

{{/* Hero Jumbotron */}}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
{{/*  */}}

{{/* The Need media block */}}
{{ partial "media-block-reverse" (dict "imageUrl" .Params.need.image "heading" .Params.need.heading "text" .Params.need.text) }}
{{/*  */}}

{{/* The Solution short-text */}}
{{ partial "media-block-reverse" (dict "imageUrl" .Params.solution.image "heading" .Params.solution.heading "text" .Params.solution.text) }}
{{/*  */}}

{{/* The Challenge short-text */}}
<div class="pb4 bg-grey-1">
  {{ partial "media-block-reverse" (dict "imageUrl" .Params.challenge.image "heading" .Params.challenge.heading "text" .Params.challenge.text) }}
</div>
{{/*  */}}

{{/* Solutions 2-up */}}
{{ partial "2-up" .Params }}
{{/*  */}}

{{/* Stories CTA text-and-image */}}
{{ partial "advantages-block" (dict "heading" .Params.stories.heading "text" .Params.stories.text "advantagesHeading" .Params.stories.advantagesHeading "advantages" .Params.stories.advantages "imageUrl" .Params.stories.image "buttonText" "See more" "buttonLink" "/stories") }}
{{/*  */}}

{{/* Testimonials carousel */}}
{{/* {{ partial "blog" . }} */}}
{{/*  */}}

{{ end }}
