{{ define "main" }}

{{/* Hero Jumbotron */}}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
{{/*  */}}

{{/* The Need short-text */}}
{{ partial "short-text" .Params.need }}
{{/*  */}}

{{/* The Need media-block */}}
{{ partial "media-block" .Params }}
{{/*  */}}

{{/* The Solution short-text */}}
{{ partial "short-text" .Params.solution }}
{{/*  */}}

{{/* Stories CTA text-and-image */}}
{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}
{{/*  */}}

{{/* Testimonials carousel */}}
{{ partial "blog" . }}
{{/*  */}}

{{ end }}
